.main
{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(255, 255, 255); */
     
}
.clc
{
    width: 20%;
    /* background-color: white; */
}

.btn
{
    width: 60px;
    height: 60px;
    border: 2px solid black;
    text-align: center;
    margin-top: 20px;
    border-radius: 30%;
    background-color: rgb(142, 145, 145);
    font-size: 20px;
    font-weight: bold;
}